{% for df in context.dfs %}{% set index = loop.index %}{% include 'shared/dataframe.tmpl' with context %}{% endfor %}

{% if field_desc %}
<business_description>
{{ business_description }}
</business_description>
{% endif %}

<conversation>
{{context.memory.get_conversation()}}
</conversation>

<datetime>
{{ current_time }}
</datetime>

Use the provided dataframe and conversation to return the rephrased sentence of "{{query}}” in order to obtain more accurate and comprehensive responses without any explanations.

Rephrased query:
